<h2> Submit an Address </h2>

<input id="address" type="textbox" value="Arlington, VA"><br>
<input type="button" value="Show" onclick="codeAddress();" class="map_button">

<!-- Submits markers to rails database -->
<%= form_for Coordinate.new, :remote => true, :html => {:multipart => true, :autosave => true} do |f| %>
	<%= f.hidden_field :lat, :id => "lat"%>
	<%= f.hidden_field :lng, :id => "lng"%>
	<%= f.hidden_field :address, :id => "geocode_address"%>
	<%= f.submit "Save", :class => "map_button" %>
<% end %>

<h2> Submitted Addresses</h2>

<table>
	<tr>
		<th>Address</th>
		<th>Latitude</th>
		<th>Longitude</th>
		<th></th>
		<th></th>
	</tr>

	<% @coordinates.each do |coordinate| %>
		<tr>
			<td><%= coordinate.address %></td>
			<td><%= coordinate.lat %></td>
			<td><%= coordinate.lng %></td>
			<td><%= link_to 'Show', coordinate_path(coordinate) %> </td>
			<td><%= link_to 'Delete', coordinate_path(coordinate), method: :delete, data: { confirm: "Are you sure? This can't be undone" } %> </td>
		</tr>
	<% end %>


</table>

