<h2> Submitted Addresses</h2>

<table>
	<tr>
		<th>Address</th>
		<th>Latitude</th>
		<th>Longitude</th>
		<th></th>
		<th></th>
	</tr>

	<% @coordinates.each do |coordinate| %>
		<tr>
			<td><%= coordinate.address %></td>
			<td><%= coordinate.lat %></td>
			<td><%= coordinate.lng %></td>
			<td><%= link_to 'Show', coordinate_path(coordinate) %> </td>
			<td><%= link_to 'Delete', coordinate_path(coordinate), method: :delete, data: { confirm: "Are you sure? This can't be undone" } %> </td>
		</tr>
	<% end %>


</table>

